*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* nav bar */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
   
}
/* nav bar */
  /* NAVIGATION */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0 4rem;
    z-index: 100;
  }

  
  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: darkgray;
    z-index: 10;
    color: var(--black-color);
    margin-top: 50px;
  }
  
  .nav__logo {
    height: 2.5rem;
    transition: all 0.3s;
  }

.hero{
    /* background: #1d2026; */
    background: linear-gradient(rgba(29, 32, 38, 0.8), rgba(29, 32, 38, 0.95)),
    url("img1.jpg") center center no-repeat;
  width: 100%;
 	background-attachment:fixed;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
    color: #fff;
    height: 100vh;
    
}

.navbar_right{
    display: flex;
    height: 4rem;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 2.5rem;
    
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
    font-family: 'Merriweather', serif;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.6rem 2rem;
    border-radius: 3rem;
    background-color: var(--active-color);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }

.navbar_right .nav_btn:hover{
    color: var(--active-color);
    /* line-height: 50px; */
    border-bottom: 2px solid var(--active-color);
}
/* 
.navbar_backdrop{
    height: 25px;
    width: 25px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  
    transition: all 0.2s;
    display: none;
} */
.close{
    display: none;
}
.navbar_backdrop{
   
        cursor: pointer;
        height: 4rem;
        width: 4rem;
        /* background: var(--white-color); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border-radius: 50%; */
        padding: 15px;
        position: absolute;


}

.backdrop_show{
    background: rgba(0,0,0,0.5);
    display: block;
}



.text_container{
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    
    
}
.text_container p{
    color: var(--theme-bg-color);
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}
.text_container h1{
    font-size: 120px;
    font-weight: 400;
    color: #ffcb03;
}
.text_container a{
    color: var(--black-color);
    font-size: 1.2rem;
}

.text_container_full{
    display: flex;
    height: calc(100vh - 10rem);
}



    .active {
        /* background: green; */
        border-bottom: 2px solid #149ddd;
    }

.active span{
    background: #fff;
    margin-left: 31px;
}

.open_nav_icon{
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    /* background: var(--white-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border-radius: 50%; */
    padding: 15px;
}

.open_nav_icon .nav_menu_icon{
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background: #ffcb03;
}

@media (max-width: 768px) {
    .nav{
        height: 4rem;
        justify-content: end;
    }
    .navbar_right{
        display: none;
        flex-direction: column;
        background: black;
        padding: 3.5rem 1.25rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        height: 100vh;
        width: 70vw;  
        color: #2f2f33;  
    }
    .nav__item {
        margin-bottom: 4rem;
        
      }
    /* .navbar_right .nav_btn{
        padding: 20px 0;
    } */

    .display_mob_nav{
        display: block;
        position: absolute;

    }

    .text_container h1{
        font-size: 90px;
    }
    .text_container p{
        font-size: 36px;
    }

}

@media (min-width: 768px) {

    .open_nav_icon{
        cursor: pointer;
        display: none;
    }

    .nav__item::after{
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background: #149ddd;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
      }
      .nav__item:hover::after {
        width: 100%;
    }
    .grey::after{
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #149ddd;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
      }
    .grey:hover::after {
        width: 0;
    }

}

@media (max-width: 576px) {

    
	 .text_container h1 {
        font-size: 40px;
        position: absolute;
        top: 3%;
        left: 15%;
    }
     .text_container p {
        font-size: 17px;
        position: absolute;
        top: 7%;
        left: 2%;
    }
    

    .nav{
        padding: 0 1.25rem;
    }

}
/* nav bar */
.main-h{
    color: orange;
}
/* .ham-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.ham-menu span {
    display: block;
    width: 30px;
    height: 5px;
    background: #fff;
    margin: 5px 0;
    border-radius: 10px !important;
} */
.main-nav {
    display: none;
    list-style-type: none;
}
header {
    display: flex;
    justify-content: center;
    
    align-items: center;
   
    background-color: #33383b;
}
/* header h1 {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  margin-right: 100px;
  margin-bottom: 20px;
  
}
.main-nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    transition: all ease 0.1s;
    margin-left: 20px;
  margin-right: 20px;
}
.main-nav a:hover {
    background: #fff;
    border-radius: 7px;
    color: #ff9d4a;
} */
/* .main-nav li:last-child a {
    background-color: #fff;
    color: #ff9d4a;
    border-radius: 7px;
    box-shadow: 2px 3px 10px 5px #ff9d4a;
} */
/* .main-nav li:last-child a:hover {
    background-color: #2F4858;
    color: #fff;
    box-shadow: 0 0 0;
} */
/* @media (max-width: 768px) {
   
    .main-nav {
        display: flex;
    }
}
.me {
  margin:25px;
  text-align: center;
}
.me a {
  font-size:15px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  background: #010101;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.me a:hover {
  color: #fff;
  background: #FFA200;
  transition: all easy 0.3s;
} */

/* nav bar */
.img1 {
     /* Full height */
     width : 75%;
     height: 650px;
   
    display: block;
    margin-left: 25%;
    
     
}
 .btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FFA500;
    text-decoration: none;
  }
  body, html {
    height: 100%;
    position: relative;
  }
  
  /* .nav__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    
} */
  .bg {
    /* The image used */
    /* background-image: url("coding.png"); */
    background: linear-gradient(rgba(100, 94, 81, 0.68), rgba(100, 94, 81, 0.68)) , url("img1.jpg");
    position: absolute;
    
    
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .container2 {
    position: relative;
    text-align: center;
    color: white;
    
    
  }
  .centered {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  /* .coc{
      width: 5px;
  } */
  .centered-about {
    
        position: absolute;
        top: 100px;
        left: 50px;
        width: 80%;
      
  }
  .orange{
      padding-left:45%;
      padding-bottom: 9%;
      font-size: 50px;
      font-family: 'Spartan', sans-serif;
      font-weight: Semi-bold 600;
  }
  div.text{
      text-align: left;
  }
  h1{
      font-size: 100px;
      color: red;
      font-family: 'Merriweather', serif;
      font-weight: 400;
  }
  h2{
      font-size: 35px;
      color: red;
      display: inline-block;

  }
  .green{
    color: white;
    font-family: 'Hubballi', cursive;
    font-weight: 800;
    font-size: 40px;
    padding-top: 25%;
  }
  p{
      color: black;
      
  }
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
   
    font-family: 'Poppins', sans-serif;

}

.red{
    padding-bottom: 100px;
    font-size: 50px;
}
/* .nav-links{
    display: flex;
   
    justify-content: space-around;
    
    width: 30%;
}
.nav-links li{
    list-style: none;
    padding: 20px;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
} */
.blue{
    
    line-height: 2;
    font-family: 'Abhaya Libre', serif;
        font-weight: 300;
        font-size: 25px;
}
.burger{
    display: none;
    cursor: pointer;

}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(226, 226, 226); 
    transition: all 0.3 ease ;
}

@media screen and  (max-width: 1024px) and (min-width:768px){
    /* .nav-links{
        width: 60%;
    }
    header h1 {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 2%;
        margin-bottom: 2%;
       
    }
    .nav-links li {
        list-style: none;
       
    }
    .nav-links li {
        list-style: none;
       
    }
    .nav-links a {
        color: rgb(226, 226, 226);
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 14px;
    }
    .main-nav a {
        text-decoration: none;
      
        color: #fff;
        font-weight: 600;
        transition: all ease 0.1s;
       
    } */
    .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1 {
        font-size: 100px;
        color: orangered;
        font-family: 'Merriweather', serif;
        font-weight: 400;

        
    }
   .green {
        font-size: 70px;
        color: aliceblue;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        
        padding-top: 30%;
    }
    .red{
        padding-top: 0;
        padding-bottom: 5%;
    }
    .blue{
        font-size: 20px;
        font-family: 'Roboto Serif', sans-serif;
        font-weight: 300;

    }
    .centered-about {
        position: absolute;
        top: 100px;
        left: 50px;
        width: 70%;
    }
    .bg{
        height: 80%;
    }
    
}
@media screen and  (max-width: 768px){
    body{
        overflow-x: hidden;
       

    }

   
        /* container */
        .centered {
           
            top: 25%;
            left: 45%;
          
        }
        .grey{
            font-size: 1.5rem;
        }
        .bg {
            
            height: 80%;
           
        }
        h1 {
            font-size: 80px;
            color: orangered;
            font-family: 'Merriweather', serif;
            font-weight: 400;

            
        }
        .centered h1 {
            margin-bottom: 20px;
        }
        h2 {
            font-size: 35px;
            color: rgb(255, 30, 0);
            font-family: 'Hubballi', cursive;
            font-weight: 800;
            /* padding-top: 25%; */
            
        }
        .blue {
            /* line-height: 1; */
            font-size: 8px;
            font-family: 'Roboto Serif', sans-serif;
            font-weight: 300;
            
        }
        .red {
            padding-bottom: 5%;
        }
        .centered-about {
            position: absolute;
            top: 2%;
            left: 5%;
            width: 70%;
        }
        
       
        .img1 {
            height: 100%;
        }
        .green{
            padding-top: 25%;
        }


}
/* .nav-active{
    transform: translate(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(100px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}


} */


/* workshop */
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color),69%,61%) ;
    --first-color-second:hsl(var(--hue-color),69%,61%) ;
    --first-color-alt: hsl(var(--hue-color),57%,53%);
    --first-color-lighter: hsl(var(--hue-color),92%,85%);
    --title-color: hsl(var(--hue-color),8%,15%);
    --text-color: hsl(var(--hue-color),8%,45%);
    --text-color-light: hsl(var(--hue-color),8%,65%);
    --input-color: hsl(var(--hue-color),70%,96%);
    --body-color: hsl(var(--hue-color),60%,99%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size:.938rem ;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem ;

    /*========== Font weight ==========*/
    --font-medium: 500 ;
    --font-semi-bold:600 ;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem ;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip:10 ;
    --z-fixed:100 ;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (max-width: 768px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem ;
    }
    .wp{
        font-size: 15px;
    }
    .body1{
        overflow-x: hidden;
    }
    
   
}
@media screen and  (max-width: 1024px) and (min-width:768px){
    .container3{
        padding-right: 15%;
    }
}

.works{
    padding-bottom: 30px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

ul{
    list-style: none;

}
a{
    text-decoration: none;

}
img{
    max-width: 100%;
    height: auto;
}
.section{
    padding: 2rem 0 4rem;

}
.section {
    margin-left: 20%;
    text-align: center;
}
.section_title{
    font-size: var(--h1-font-size);

}
.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);

}
.section_title,
.section_subtitle{
    text-align: center;
}
.container3{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.qualification_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.qualification_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;

}
.qualification_button:hover{
    color: var(--first-color);
}
.qualification_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);

}
.qualifications_data{
    display: grid;
    grid-template-columns: 200px max-content 200px;
    column-gap: 0rem;

}
.qualifications_title{
   font-size: 20px;
    font-weight: var(--font-medium);
}
.qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);

}
.qualification_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);

}
.qualification_sections {
    justify-content: center;
    display: grid;
}
.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;

}
.qualifications_data {
    display: grid;
    grid-template-columns: 200px max-content 200px;
    column-gap: 0;}
.qualification_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px,-7px);
}
.qualification [data-content]{
display: none;

}
.qualification_active[data-content]{
    display: block;

}
.qualification_button.qualification_active{
    color: var(--first-color);
    
}
span {
    margin-left: var(--space-2);
}
.qualification_sections{
    justify-content: center;
}
.wp{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.workshop{
    background-color: #c1c1c1b3;
}
/* events */
    
/* NAVBAR */
/* faq */




.brown{
    padding-bottom: 25px;
}
.red{
    text-align: center;
    justify-content: center;
    display: grid;
}
.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #e9911e;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0  rgb(183 143 96);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: orange;
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  /* float: left; */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #e9981e;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
/* faq */
/* footer */
.pink {
    width: 100%;
    display: inline-block;
    background: darkgray;
    height: 10vh;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    color: black;
    font-family: 'Merriweather', serif;
  }
  
  .footer-distributed{
      background: darkgray;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  black;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  black;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: white;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: black;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  black;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  black;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  black;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: white;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
   /* what we do */
   .img4 {
    width: 100%;
    display: block; }

    .mango {
        display: flex;
        position: absolute;
        top: 25%;
        right : 2%;
        left: 60%;
    }

    .apple {
        font-size: 40px;
        top: 7%;
        position: absolute;
        right: 12%;
    }
  
  .feature {
      position: relative;
    background-color: #d9f2f4;
    color: #398dc8; }
    @media (min-width: 950px) {
      .feature {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2rem; } }
  
  @media (min-width: 950px) {
    .image3 img {
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%); } }
  
  .text2 {
      top: 25px;
      right: 25px;
      position: absolute;
    place-self: center;
    padding: 1.5rem; }
    @media (min-width: 950px) {
      .text2 {
        padding: 0 1rem 0 0;
        margin-left: -3vw; } }
    @media (min-width: 1300px) {
      .text2 {
        padding: 0 3rem 0 0; } }
    .text2 h1 {
      margin-top: 0; }
      @media (min-width: 950px) {
        .text2 h1 {
          font-size: 1.5rem; } }
      @media (min-width: 1250px) {
        .text2 h1 {
          font-size: 2.5rem; } }
      @media (min-width: 2000px) {
        .text2 h1 {
          font-size: 2.5vw; } }
    .text2 p {
        position: absolute;
        top: 50px;
        left: 250px;
      line-height: 1.25; }
      @media (min-width: 1500px) {
        .text2 p {
          line-height: 1.5;
          font-size: 1.2rem; } }
      @media (min-width: 2000px) {
        .text2 p {
          font-size: 1.2vw; } }
  
@media  screen and (max-width :768px) {

    .apple{
        font-size: 25px;
        top: 20px;
        left: 50px;
        width: fit-content;
    }
    .mango{
        left: 30px;
        top: 60px;
        font-size: 10px;
        font-weight: 500;
    }
    .qualification{
        margin-left: 0;

    }
    .container3{
        margin-left: 0;
    }
    .qualifications_title{
        font-size: 10px;
    }
    .wp{
        text-align: left;
        font-size: 15px;
        height: auto;
        width: auto;
    }
	.hero{
        height: 40vh;
        background: linear-gradient(rgba(29, 32, 38, 0.8), rgba(29, 32, 38, 0.95)),
    url("new1.jpg") center center no-repeat;
        
       
    }
}
  
   
